git+https://github.com/BSchilperoort/TeachBooks@external-git-content
sphinx-inline-tabs == 2023.4.21
jupyterbook_patches==1.3.0
download_link_replacer == 1.0.4
teachbooks-sphinx-grasple == 1.0.5
sphinx-image-inverter == 1.1.2
sphinx-exercise == 1.0.1
sphinx-proof == 0.2.0
sphinx-named-colors == 1.0.1
sphinx-iframes == 1.0.3
sphinx-prime-applets == 1.0.1

git+https://github.com/TeachBooks/Sphinx-Thebe

docutils==0.17.1

